

<h1>Here is your word</h1>
<h1>@Model.GetStringWord()</h1>
<h1>@Model.GetWorldLength()</h1>
<h1>
@for(var i = 0; i < Model.GetWorldLength();i++){

  if(Model.GetStringWord()[i].ToString()!="*")
  {
    <span> _ </span>
  }
  else{
    <span>@Model.GetAllChar()[i]</span>
  }
}

</h1>
<h1>Correct:@Model.GetCorrectGuess()</h1>

<h1>InCorrect:@Model.GetIncorrectGuess()</h1>

<p>
  <a href="/">GO HOME</a>
</p>
<form action="/makeguss" method="post">
  <input id='player-id' name='player-id' type='hidden' value='@Model.GetId()' >
  <label for="guess">Enter your guess.</label>
  <input type="text" name=guess id="guess">
  <button type="submit" name="button">Submit</button>
</form>
